/* Mini-Project Pokemon Pages */

head {
    text-align: center;
    color: black;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    margin: 0;
    padding: 0;
    background-color: #f5f96f;
}

.container {
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #e7eb69;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0d0d09;
}

html {
    text-align: center;
}

#pokemoninfo {
    margin-top: 20px;
    padding: 20px;
    background-color: #e6eced;
    border-radius: 5px;
    box-shadow: 0 2px 5px #1a0404;
}